.correct_answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong_answer {
  border: 3px solid red;
}

.btn-next {
  display: none;
}

.visible {
  display: block;
}

.question {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  height: 200px;
  justify-content: center;
  width: 50%;
}

.btn {
  border-radius: 10px;
  font-size: 17px;
  margin: 10px;
  padding: 10px;
}

.timer {
  display: flex;
  font-size: 80px;
  justify-content: center;
}
