.correct_answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong_answer {
  border: 3px solid red;
}

.btn-next {
  display: none;
}

.visible {
  border-radius: 10px;
  display: block;
  font-size: 17px;
  margin: 30px;
}

.question {
  align-items: center;
  background: linear-gradient(19deg, #3eecac, #ee74e1);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  height: 200px;
  width: 50%;
}

.btn {
  border-radius: 10px;
  font-size: 17px;
  margin: 30px;
  padding: 10px;
}

.timer {
  display: flex;
  font-size: 75px;
  justify-content: center;
}

.section {
  align-items: center;
  background-image: url('https://thumbs.dreamstime.com/b/pontos-de-interroga%C3%A7%C3%A3o-coloridos-em-um-fundo-preto-101946275.jpg');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 78px);
  padding: 0;
  text-align: center;
}

.category {
  font-size: 20px;
  margin: 2px;
}

.alternatives {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
