.correct_answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong_answer {
  border: 3px solid red;
}

.btn-next {
  display: none;
}

.visible {
  border-radius: 10px;
  display: block;
  font-size: 17px;
  margin: 30px;
  margin-left: 45vw;
  padding: 10px;
}

.question {
  align-items: center;
  background-color: rgb(199, 224, 224);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  height: 200px;
  justify-content: center;
  margin-left: 25%;
  width: 50%;
}

.btn {
  border-radius: 10px;
  font-size: 17px;
  margin: 30px;
  padding: 10px;
}

.timer {
  display: flex;
  font-size: 75px;
  justify-content: center;
}

.section {
  text-align: center;
}

.category {
  font-size: 20px;
  margin: 2px;
}
